{% spaceless %}
	{% for note in notes %}
		<div id="note_{{note.id}}" class="note ui-sortable-hanlde">	
			<form class="title_form" action="{% url 'notes:update_title' %}" method="POST">
			{% csrf_token %}
					<h3 class="notetitle">{{ note.title }}</h3>
					<input type="hidden" name="id" value="{{note.id}}">
			</form>
			<form class="delete_form" action="{% url 'notes:delete' %}" method="POST">
			{% csrf_token %}
				<button class="btn_delete" name="{{note.id}}" type="submit">Delete</button>
				<input type="hidden" name="id" value="{{note.id}}">
			</form>
			<form class="update_form" action="{% url 'notes:update_desc' %}" method="POST">
			{% csrf_token %}
				<p class="desc">{{ note.description }}</p>
				<input type="hidden" name="id" value="{{note.id}}">
			</form>
		</div>
	{% endfor %}
{% endspaceless %}
